body {
  font-family: Montserrat, sans-serif;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2em;
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

h2 {
  font-size: 1.5em;
  margin-top: 20px;
}

h3 {
  font-size: 1.2em;
  margin-top: 10px;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 10px;
}

.container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 20px;
}

.left,
.right {
  padding: 20px;
  box-sizing: border-box;
}

.left {
  flex: 1;
  border-right: 1px solid #ccc;
}

.right {
  flex: 2;
}

.page-break-before {
  page-break-before: auto;
}

.divider {
  margin: 20px auto; /* Center the line with spacing above and below */
  border: 0;
  border-top: 1px solid #ccc;
  width: 100%;
}

.round-image:hover {
  opacity: 0.8; /* Slightly fade the image on hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

/* Balloon Icon Styles */
.balloon-icon {
  display: none; /* Hide by default */
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  padding: 10px;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  color: #333;
}

.round-image {
  width: 225px;
  height: 225px;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0;
  animation: fadeInTop 1s forwards;
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade {
  opacity: 0; /* Start invisible for fade-in effect */
  animation: fadeIn 2s 0.1s forwards; /* Apply fade-in effect with delay */
}

/* Keyframes for fade-in effect */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 1em;
  }

  .container {
    flex-direction: column;
    gap: 10px;
  }

  .left-column,
  .right-column {
    flex: none;
    width: 50%;
  }
  .links {
    gap: 20px;
  }

  .links a {
    font-size: 1em;
  }

  .balloon-icon {
    display: block; /* Show on mobile devices */
  }
}
