body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the start (top) */
  height: 100vh;
  font-size: 1.5em;
}

h1 {
  margin: 10px 0 15px;
  text-align: center;
  font-size: 2em;
  color: #222;
}

p {
  margin: 0 0 30px;
  font-size: 0.7em;
  color: #9c9c9c;
}

.container {
  text-align: center;
  background: white;
  padding: 30px; 
  margin-top: 10vh;
  width: 80%; 
  max-width: 800px;
}

.round-image:hover {
  opacity: 0.8; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.round-image {
  width: 225px; 
  height: 225px;
  border-radius: 50%;
  object-fit: cover;
}

.links {
  display: flex;
  justify-content: center;
  gap: 60px;
  font-size: 0.8em;
}

.links a {
  text-decoration: none;
  color: #45474b;
  font-size: 1.2em;
  transition: color 0.3s;
}

.links a:hover {
  color: #9b86bd;
  text-decoration: underline;
}

.links-project {
  display: flex;
  justify-content: left;
}

.links-project a {
  text-decoration: none;
  color: black;
  font-size: 1em; /* Increase font size */
  transition: color 0.3s;
}

.links-project a:hover {
  color: #9b86bd;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 40px; /* Space between icons */
  margin: 40px 0 70px; 

}

.social-links a {
  text-decoration: none;
  color: black; 
  font-size: 1.5em; 
  transition: transform 0.3s ease-in-out;
}

.social-links a:hover {
  color: #9b86bd;
  text-decoration: underline;
  transform: scale(1.15);
}

.page-content {
  text-align: left;
}

.page-content p {
  font-size: 0.8em;
}

.page-content li {
  color: #545454;
  font-size: 1em; 
  margin: 10px; 
}

.divider {
  margin: 20px auto;
  border: 0;
  border-top: 1px solid #ccc;
  width: 100%;
}

.fade {
  opacity: 0;
  animation: fadeIn 2s 0.1s forwards; 
}

/* Keyframes for fade-in effect */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 1em;
  }

  .container {
    flex-direction: column;
    gap: 10px;
  }

  .left-column,
  .right-column {
    flex: none;
    width: 50%;
  }
  .links {
    gap: 20px;
  }

  .links a {
    font-size: 1em;
  }
}
